.nombresEstaciones {
	background: none;
	color: #FFFFFF;
	border: none;
	font: 8pt "Source Sans Pro", Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-shadow: 2px 2px 2px #000;
	text-transform: uppercase;
	box-shadow: none;
	opacity: 0;
}

.nombresCanteras {
	background: none;
	color: #A00000;
	border: none;
	font: 7pt "Source Sans Pro", Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-shadow: 2px 2px 2px #FFF;
	text-transform: uppercase;
	box-shadow: none;
	opacity: 0;
}

.nombresDepartamentos {
	background: none;
	color: #FFFFFF;
	border: none;
	font: 9pt "Source Sans Pro", Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-shadow: 2px 2px 2px #000;
	box-shadow: none;
	opacity: 0;
}

#buscador, .ui-autocomplete {
	z-index: 5000;
}

.totalwidth {
	width: 100%;
}

.elemento-sidebar {
	margin: 10px 5px 10px 5px;
}

.highlighted {
	font-weight: bold;
	color: #0073FF !important;
}

.advisory {
	font-weight: bold;
	color: #FF3700 !important;
}

#loader {
	z-index: 1000;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0);
	position: absolute;
	left: 0;
	top: 0;
}