.leaflet-control-coordinates{
	background-color: #D8D8D8;
	background-color: transparent;
	cursor: pointer;
}
.leaflet-control-coordinates,.leaflet-control-coordinates .uiElement input{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.leaflet-control-coordinates .uiElement{
	margin: 4px;
	font-size: 14px;
	color: #FFF;
	text-shadow: #222 1px 0 10px;
}
.leaflet-control-coordinates .uiElement .labelFirst{
	margin-right: 4px;
}
.leaflet-control-coordinates .uiHidden{
	display: none;
}