body {
		padding: 0;
		margin: 0;
}

html, body, #map {
		height: 100%;
		font: 10pt "Source Sans Pro", Arial, Helvetica, sans-serif;
		background-color: 'black';
}

.lorem {
		font-style: italic;
		color: #888;
}

.capaActiva {
	border: 5px solid #A7C6FF;
}
.capaInactiva {
	opacity: 0.5;
	filter: alpha(opacity=50); /* For IE8 and earlier */
}